.shiny-text {
  background: linear-gradient(
    120deg,
    #ffffff 20%,
    #AF8FE9 40%,
    rgba(255, 255, 255, 0.8) 50%,
    #AF8FE9 60%,
    #ffffff 80%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}
